

    <option value="club" disabled> Choose </option>
    <option value="club">ACM (Association for Computing Machinery)</option>
    <option value="club">Acts 2 Christian Fellowship</option>
    <option value="club">African Student Association</option>
    <option value="club">AGES (Association of Graduate Engineering Students)</option>
    <option value="club">AI Collaborate</option>
    <option value="club">Alpha Kappa Psi</option>
    <option value="club">Alpha Phi Omega</option>
    <option value="club">Alpha Psi Omega</option>
    <option value="club">American Civil Liberties Union (ACLU)</option>
    <option value="club">American Constitution Society Santa Clara</option>
    <option value="club">American Institute of Aeronautics and Astronautics</option>
    <option value="club">American Sign Language Club</option>
    <option value="club">American Society of Mechanical Engineers</option>
    <option value="club">APALSA</option>
    <option value="club">Armenian Students Association</option>
    <option value="club">Art Law Society</option>
    <option value="club">Artificial Intelligence Student Association (AISA)</option>
    <option value="club">Asian & Pacific-Islander Student Union</option>
    <option value="club">Associated General Contractors of America</option>
    <option value="club">Association for Computing Machinery - Women's Chapter</option>
    <option value="club">Banda Seleccion de Santa Clara</option>
    <option value="club">Barkada of SCU</option>
    <option value="club">Be the Match On Campus SCU</option>
    <option value="club">Belles Service Organization</option>
    <option value="club">Biomedical Engineering Society</option>
    <option value="club">Bird Up! SCU</option>
    <option value="club">Black Business Association</option>
    <option value="club">Blockchain & Compliance Legal Society</option>
    <option value="club">BLSA (The Black Law Student  Association)</option>
    <option value="club">Blueprints for Pangea</option>
    <option value="club">Bread Lover's Club</option>
    <option value="club">Bronco Foodie Club</option>
    <option value="club">Broncos for Life</option>
