{% extends "template.html" %}

{% block title %}index{% endblock %}

{% block body %}
    <h1>Hello, {{ name }}!</h1>
    <p>You are {{ age }} years old.</p>
    <p>Here are some of your interests:</p>
 
    
     <h2>Select a club:</h2>
    <select id="clubDropdown">
        {% for club in allClubs %}
            <option value = "{{ club }}">{{ club }}</option>
        {% endfor %}
    </select>

    <h4>
        Finding community within clubs fosters connections, friendships, and a sense of belonging among individuals with shared interests or goals. These communities offer opportunities for personal growth, networking, and mutual support, while also alleviating feelings of isolation and loneliness. Ultimately, clubs play a vital role in enhancing individuals' well-being and enriching their life experiences through collaboration, camaraderie, and inclusivity.
    </h4>
       

{% endblock %}

