<!DOCTYPE html>
<html>
 
<head>
    <title>FlaskTest</title>
    <link rel="stylesheet" href="style.css">
</head>
 
<body>
    <h2>SOURCE SCU</h2>
    <h4>Flask: Rendering Templates</h4>
    
{% block body %}
 
<div class="dropdown">
 <!-- <button onclick="myFunction()" class="dropbtn">Dropdown</button> -->
    <label id = "dropdown">Choose Club</label>
    <select name="clubs">
        <option value = "club1">Club 1</option>
        <option value = "club2">Club 2</option>

    </select>
  </div>

{% endblock %}
 
 
</body>
 
</html>